.supportedLangs {
    padding: 15px;
    background-color: var(--ifm-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    height: 90vh;
    min-height: 90vh;
}

.headerText {
    font-weight: bold;
    font-size: 145%;
    width: 100%;
    text-align: center;
}

.langlistCont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.langlistCont img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin: 0px 15px;
    border-radius: 50%;
    margin-bottom: 10px;
}

@media only screen and (max-width: 520px) {
    .supportedLangs {
        height: 45vh;
        min-height: 45vh;
    }
    .langlistCont img {
        width: 90px;
        height: 90px;
    }
}