.supportedLangs {
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.249);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    min-height: 60vh;
}

.headerText {
    font-weight: bold;
    font-size: 145%;
    width: 100%;
    text-align: center;
}

.langlistCont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
}

.langlistCont img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin: 0px 15px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.langLink {
    color: var(--inverse-black) !important;
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.langLink div {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 520px) {
    .supportedLangs {
        min-height: 45vh;
    }
    .langlistCont img {
        width: 90px;
        height: 90px;
    }
}